body {
}
.loginBox {
    border: 1.5px solid blue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

.lBtn:hover {
    background-color:darkcyan;
    color:whitesmoke;
    cursor:pointer;
}
.lBtn2 {
    background-color:darkblue;
    color:whitesmoke;
}
